In [1]:
from technicals_indicators import *

In [2]:
indicators = {
    "AROON": AROON,
    "MACD": MACD,
    "RSI": RSI,
    "STOCHRSI": STOCHRSI,
    "TRIX": TRIX,
    "PPO": PPO,
    "STC": STC,
    "KAMA": KAMA,
    "KST": KST,
    "DPO": DPO,
    "BOLLINGER": BOLLINGER,
    "ULCER": ULCER,
    "TSI": TSI,
    "EMA": EMA
}

In [3]:
df = pd.read_csv("data/dataset/final.csv")

,date,usd/cad,DGS2,DGS3,DGS5,DGS10,cad_2y,cad_3y,cad_5y,cad_10y,...,dtwexemegs,usrecd,eurorecd,jpnrecdp,us_fed_sentiment,fed_speech_sentiment,fed_minutes_sentiment,usd/cad_lag_1,usd/cad_lag_2,usd/cad_lag_3
0,2012-01-04,1.0134,0.25,0.40,0.89,2.00,0.97,1.01,1.30,1.99,...,97.5854,0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN
1,2012-01-05,1.0197,0.27,0.40,0.88,2.02,0.96,1.00,1.29,1.97,...,97.8533,0,1.0,1.0,0.0,0.0,0.0,1.0134,NaN,NaN
2,2012-01-06,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,97.8570,0,1.0,1.0,0.0,0.0,0.0,1.0197,1.0134,NaN
3,2012-01-07,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,97.8570,0,1.0,1.0,0.0,0.0,0.0,1.0197,1.0134,NaN
4,2012-01-08,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,97.8570,0,1.0,1.0,0.0,0.0,0.0,1.0197,1.0134,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,2022-09-03,1.3089,3.40,3.44,3.30,3.20,3.58,3.53,3.28,3.10,...,129.7622,0,0.0,0.0,0.0,0.0,0.0,1.3160,1.3091,1.3090
3896,2022-09-04,1.3089,3.40,3.44,3.30,3.20,3.58,3.53,3.28,3.10,...,129.7622,0,0.0,0.0,0.0,0.0,0.0,1.3160,1.3091,1.3090
3897,2022-09-05,1.3089,3.40,3.44,3.30,3.20,3.58,3.53,3.28,3.10,...,129.7622,0,0.0,0.0,0.0,0.0,0.0,1.3160,1.3091,1.3090
3898,2022-09-06,1.3122,3.50,3.55,3.43,3.33,3.60,3.56,3.33,3.18,...,130.7121,0,0.0,0.0,0.0,0.0,0.0,1.3089,1.3160,1.3091
3899,2022-09-07,1.3166,3.45,3.50,3.37,3.27,3.60,3.55,3.30,3.13,...,130.7067,0,0.0,0.0,0.0,0.0,0.0,1.3122,1.3089,1.3160

In [5]:
# Apply all the technicals indicators in the dictionnary 'indicators to colun 'usd/cad'

for key, value in indicators.items():
    # Apply function in value to column 'usd/cad'
    df[key] = value(df['usd/cad'])

In [6]:
df

,date,usd/cad,DGS2,DGS3,DGS5,DGS10,cad_2y,cad_3y,cad_5y,cad_10y,...,TRIX,PPO,STC,KAMA,KST,DPO,BOLLINGER,ULCER,TSI,EMA
0,2012-01-04,1.0134,0.25,0.40,0.89,2.00,0.97,1.01,1.30,1.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-01-05,1.0197,0.27,0.40,0.88,2.02,0.96,1.00,1.29,1.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-01-06,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012-01-07,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012-01-08,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,2022-09-03,1.3089,3.40,3.44,3.30,3.20,3.58,3.53,3.28,3.10,...,0.046405,0.429867,99.998385,1.300716,13.613059,0.005040,2.559296,0.364593,32.665831,1.303888
3896,2022-09-04,1.3089,3.40,3.44,3.30,3.20,3.58,3.53,3.28,3.10,...,0.049849,0.428560,99.999192,1.301399,14.258416,-0.005790,2.195190,0.392071,31.157745,1.304659
3897,2022-09-05,1.3089,3.40,3.44,3.30,3.20,3.58,3.53,3.28,3.10,...,0.052571,0.422619,99.999596,1.302363,14.741247,-0.004380,2.116029,0.417744,30.043526,1.305312
3898,2022-09-06,1.3122,3.50,3.55,3.43,3.33,3.60,3.56,3.33,3.18,...,0.054588,0.413122,99.999798,1.302865,14.817356,-0.007955,1.930380,0.441929,29.186759,1.305864
3899,2022-09-07,1.3166,3.45,3.50,3.37,3.27,3.60,3.55,3.30,3.13,...,0.056437,0.421106,99.999899,1.303852,14.925573,-0.002705,1.922933,0.406097,30.158908,1.306839

In [7]:
df.to_csv(f"data/dataset/final.csv", index=False)