In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader as pdr

DGS2 : Market Yield on U.S. Treasury Securities at 2-Year Constant Maturity

DGS3 : Market Yield on U.S. Treasury Securities at 3-Year Constant Maturity

DGS5 : Market Yield on U.S. Treasury Securities at 5-Year Constant Maturity

DGS10 : Market Yield on U.S. Treasury Securities at 10-Year Constant Maturity

all yields for canadian bonds were downloaded from https://www.bankofcanada.ca/rates/interest-rates/canadian-bonds/ in a csv file  cadbond.csv

COLUMS USED:

BD.CDN.2YR.DQ.YLD : Market Yield on Canadian Treasury Securities at 2-Year Constant Maturity

BD.CDN.3YR.DQ.YLD : Market Yield on Canadian Treasury Securities at 2-Year Constant Maturity

BD.CDN.5YR.DQ.YLD : Market Yield on Canadian Treasury Securities at 2-Year Constant Maturity

BD.CDN.10YR.DQ.YLD : Market Yield on Canadian Treasury Securities at 10-Year Constant Maturity

In [67]:
cad = pd.read_csv('data/dataset/cadbond.csv', index_col=0, parse_dates=True)

,BD.CDN.2YR.DQ.YLD,BD.CDN.3YR.DQ.YLD,BD.CDN.5YR.DQ.YLD,BD.CDN.10YR.DQ.YLD
date,,,,
2001-01-02,5.11,5.14,5.19,5.28
2001-01-03,5.11,5.17,5.28,5.43
2001-01-04,4.99,5.07,5.20,5.39
2001-01-05,4.88,4.96,5.10,5.32
2001-01-08,4.89,4.98,5.12,5.35
...,...,...,...,...
2022-10-28,3.84,3.79,3.38,3.23
2022-10-31,3.92,3.88,3.43,3.27
2022-11-01,3.91,3.87,3.43,3.25
2022-11-02,3.94,3.89,3.48,3.32
2022-11-03,4.05,4.01,3.59,3.41

In [68]:
us_mat = ['DGS2', 'DGS3', 'DGS5', 'DGS10']


usd = pd.DataFrame()
for i in us_mat:
    usd[i] = pdr.DataReader(i, 'fred', start='2000-01-01')

In [57]:
usd.rename(columns={'DGS2':'2Y', 'DGS3':'3Y', 'DGS5':'5Y', 'DGS10':'10Y'}, inplace=True)
cad.rename(columns={'BD.CDN.2YR.DQ.YLD':'2Y', 'BD.CDN.3YR.DQ.YLD':'3Y', 'BD.CDN.5YR.DQ.YLD':'5Y', 'BD.CDN.10YR.DQ.YLD':'10Y'}, inplace=True)

In [59]:
cad = cad[['2Y', '3Y', '5Y', '10Y']]

              2Y    3Y   10Y  BD.CDN.10YR.DQ.YLD.1
date
2001-01-02  5.11  5.14  5.28                  5.28
2001-01-03  5.11  5.17  5.43                  5.43
2001-01-04  4.99  5.07  5.39                  5.39
2001-01-05  4.88  4.96  5.32                  5.32
2001-01-08  4.89  4.98  5.35                  5.35
...          ...   ...   ...                   ...
2022-10-28  3.84  3.79  3.23                  3.23
2022-10-31  3.92  3.88  3.27                  3.27
2022-11-01  3.91  3.87  3.25                  3.25
2022-11-02  3.94  3.89  3.32                  3.32
2022-11-03  4.05  4.01  3.41                  3.41

[5466 rows x 4 columns]

In [70]:
usd.to_csv('data/dataset/usdbond.csv')