In [1]:
import pandas as pd
import numpy as np

In [2]:
# Compile all the data in one dataframe

In [3]:
# Read all the data in data/dataset folder

PATH = 'data/dataset/'
# Read data starting from line 18

df_bcpi = pd.read_csv(f"{PATH}EconomicIndexCa/BCPI_WEEKLY.csv", skiprows=17)
df_ca_interest = pd.read_csv(f"{PATH}EconomicIndexCa/CA.-interest_rate.csv", index_col=0)
df_ca_interest.columns = ["date", "can_rate"]

df_crude_oil = pd.read_csv(f"{PATH}EconomicIndexCa/Crude_Oil_Component_Weights.csv", skiprows=13)

In [4]:
# Merge all the data on the column date

df_eco_ca = pd.merge(df_bcpi, df_ca_interest, on='date')
df_eco_ca

,date,W.BCPI,W.BCNE,W.ENER,W.MTLS,W.FOPR,W.AGRI,W.FISH,can_rate
0,2012-01-04,649.14,391.26,1731.29,717.14,313.74,290.37,923.99,1.25
1,2012-01-11,646.56,394.83,1707.51,734.82,313.94,288.23,943.50,1.25
2,2012-01-18,637.80,398.72,1654.60,750.74,313.41,288.67,943.50,1.25
3,2012-01-25,633.99,402.90,1624.39,761.64,311.42,292.87,943.50,1.25
4,2012-02-01,633.99,409.16,1605.66,780.23,308.86,297.71,958.40,1.25
...,...,...,...,...,...,...,...,...,...
561,2022-10-05,659.33,451.31,1569.04,784.47,455.27,335.27,1722.21,3.50
562,2022-10-12,687.44,459.82,1660.19,788.60,484.11,336.83,1722.21,3.50
563,2022-10-19,661.43,464.30,1549.10,778.44,518.05,335.30,1722.21,3.50
564,2022-10-26,658.19,465.53,1533.97,775.82,520.11,339.04,1722.21,3.50
565,2022-11-02,664.19,459.46,1569.92,779.38,484.24,341.87,1722.21,4.00

In [5]:
# Forward fill the data in weeks to days

df_eco_ca['date'] = pd.to_datetime(df_eco_ca['date'])
df_eco_ca = df_eco_ca.set_index('date')
df_eco_ca = df_eco_ca.resample('D').ffill()
df_eco_ca = df_eco_ca.reset_index()

# Convert datetime date column to object
df_eco_ca['date'] = df_eco_ca['date'].astype(str)

1. Forward fill les données entre les semaines
2. Mettre un 0 quand la FED ne fait pas de speech

In [6]:
df_fx_eur = pd.read_csv(f"{PATH}EconomicIndexEuro/FXEURFOREIGN.csv")
df_fx_eur.shape

(6108, 43)

In [7]:
df_fx_eur.columns = df_fx_eur.columns.str.lower()

In [8]:
df_fx_eur.dropna(inplace=True, axis=1)

In [9]:
df_eco = pd.merge(df_eco_ca, df_fx_eur, on='date')

In [10]:
df_eco

,date,W.BCPI,W.BCNE,W.ENER,W.MTLS,W.FOPR,W.AGRI,W.FISH,can_rate,usd,...,sek,chf,nok,aud,cad,hkd,krw,nzd,sgd,zar
0,2012-01-04,649.14,391.26,1731.29,717.14,313.74,290.37,923.99,1.25,1.2948,...,8.8985,1.2196,7.7005,1.2552,1.3153,10.0585,1490.61,1.6452,1.6698,10.5259
1,2012-01-05,649.14,391.26,1731.29,717.14,313.74,290.37,923.99,1.25,1.2832,...,8.8461,1.2187,7.6825,1.2491,1.3039,9.9647,1482.77,1.6399,1.6562,10.5038
2,2012-01-06,649.14,391.26,1731.29,717.14,313.74,290.37,923.99,1.25,1.2776,...,8.8388,1.2177,7.6745,1.2472,1.3051,9.9209,1483.11,1.6347,1.6528,10.4241
3,2012-01-09,649.14,391.26,1731.29,717.14,313.74,290.37,923.99,1.25,1.2728,...,8.8343,1.2139,7.6570,1.2468,1.3086,9.8832,1477.28,1.6221,1.6512,10.3735
4,2012-01-10,649.14,391.26,1731.29,717.14,313.74,290.37,923.99,1.25,1.2808,...,8.8120,1.2136,7.6555,1.2379,1.3021,9.9471,1478.49,1.6098,1.6506,10.3390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2768,2022-10-27,658.19,465.53,1533.97,775.82,520.11,339.04,1722.21,3.50,1.0037,...,10.9583,0.9949,10.3420,1.5610,1.3672,7.8782,1428.57,1.7316,1.4154,18.1521
2769,2022-10-28,658.19,465.53,1533.97,775.82,520.11,339.04,1722.21,3.50,0.9951,...,10.9403,0.9920,10.2695,1.5511,1.3542,7.8107,1417.70,1.7151,1.4055,18.0530
2770,2022-10-31,658.19,465.53,1533.97,775.82,520.11,339.04,1722.21,3.50,0.9914,...,10.9010,0.9925,10.3028,1.5529,1.3553,7.7822,1416.12,1.7099,1.4038,18.1736
2771,2022-11-01,658.19,465.53,1533.97,775.82,520.11,339.04,1722.21,3.50,0.9947,...,10.8740,0.9878,10.1835,1.5409,1.3469,7.8079,1404.63,1.6876,1.4017,17.9802
2772,2022-11-02,664.19,459.46,1569.92,779.38,484.24,341.87,1722.21,4.00,0.9908,...,10.9065,0.9861,10.2388,1.5426,1.3470,7.7774,1402.01,1.6844,1.3983,17.9608

In [11]:
df_us_interest_rate = pd.read_csv(f"{PATH}EconomicIndexUs/U.S.-interest_rate.csv", index_col=0)
df_us_interest_rate.columns = ["date", "us_rate"]

In [12]:
df_us_interest_rate['date'] = pd.to_datetime(df_us_interest_rate['date'])
df_us_interest_rate = df_us_interest_rate.set_index('date')
df_us_interest_rate = df_us_interest_rate.resample('D').ffill()
df_us_interest_rate = df_us_interest_rate.reset_index()
# Convert datetime date column to object
df_us_interest_rate['date'] = df_us_interest_rate['date'].astype(str)

In [13]:
df_us_interest_rate

            date  us_rate
0     2012-01-04     3.25
1     2012-01-05     3.25
2     2012-01-06     3.25
3     2012-01-07     3.25
4     2012-01-08     3.25
...          ...      ...
3944  2022-10-22     6.25
3945  2022-10-23     6.25
3946  2022-10-24     6.25
3947  2022-10-25     6.25
3948  2022-10-26     6.25

[3949 rows x 2 columns]

In [14]:
df_eco = pd.merge(df_eco, df_us_interest_rate, on='date')
df_eco

,date,W.BCPI,W.BCNE,W.ENER,W.MTLS,W.FOPR,W.AGRI,W.FISH,can_rate,usd,...,chf,nok,aud,cad,hkd,krw,nzd,sgd,zar,us_rate
0,2012-01-04,649.14,391.26,1731.29,717.14,313.74,290.37,923.99,1.25,1.2948,...,1.2196,7.7005,1.2552,1.3153,10.0585,1490.61,1.6452,1.6698,10.5259,3.25
1,2012-01-05,649.14,391.26,1731.29,717.14,313.74,290.37,923.99,1.25,1.2832,...,1.2187,7.6825,1.2491,1.3039,9.9647,1482.77,1.6399,1.6562,10.5038,3.25
2,2012-01-06,649.14,391.26,1731.29,717.14,313.74,290.37,923.99,1.25,1.2776,...,1.2177,7.6745,1.2472,1.3051,9.9209,1483.11,1.6347,1.6528,10.4241,3.25
3,2012-01-09,649.14,391.26,1731.29,717.14,313.74,290.37,923.99,1.25,1.2728,...,1.2139,7.6570,1.2468,1.3086,9.8832,1477.28,1.6221,1.6512,10.3735,3.25
4,2012-01-10,649.14,391.26,1731.29,717.14,313.74,290.37,923.99,1.25,1.2808,...,1.2136,7.6555,1.2379,1.3021,9.9471,1478.49,1.6098,1.6506,10.3390,3.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2763,2022-10-20,661.43,464.30,1549.10,778.44,518.05,335.30,1722.21,3.50,0.9811,...,0.9836,10.4020,1.5554,1.3461,7.7008,1400.30,1.7206,1.3959,17.9106,6.25
2764,2022-10-21,661.43,464.30,1549.10,778.44,518.05,335.30,1722.21,3.50,0.9730,...,0.9855,10.4315,1.5646,1.3465,7.6376,1404.32,1.7347,1.3917,18.0021,6.25
2765,2022-10-24,661.43,464.30,1549.10,778.44,518.05,335.30,1722.21,3.50,0.9851,...,0.9856,10.3920,1.5631,1.3502,7.7329,1418.40,1.7343,1.4008,18.0625,6.25
2766,2022-10-25,661.43,464.30,1549.10,778.44,518.05,335.30,1722.21,3.50,0.9861,...,0.9888,10.3910,1.5599,1.3537,7.7407,1417.50,1.7321,1.4050,18.2211,6.25
2767,2022-10-26,658.19,465.53,1533.97,775.82,520.11,339.04,1722.21,3.50,1.0023,...,0.9917,10.3408,1.5466,1.3568,7.8678,1422.11,1.7249,1.4104,18.0212,6.25

In [15]:
# Name the first column of df_bond_yields as 'date'

df_bond_yields = pd.read_csv(f"{PATH}bond_yields.csv", index_col=0)
df_cad_yields = pd.read_csv(f"{PATH}cadbond.csv")

df_bond_yields.reset_index(inplace=True)

df_bond_yields.columns = ["date", "us_2y", "us_3y", "us_5y", "us_10y", "convex1", "convex2", "convex3"]
df_bond_yields

            date  us_2y  us_3y  us_5y  us_10y  convex1  convex2  convex3
0     2001-01-02  -0.24  -0.32  -0.43   -0.36    -0.08    -0.11     0.07
1     2001-01-03  -0.19  -0.25  -0.34   -0.29    -0.06    -0.09     0.05
2     2001-01-04  -0.22  -0.29  -0.38   -0.36    -0.07    -0.09     0.02
3     2001-01-05  -0.32  -0.39  -0.44   -0.39    -0.07    -0.05     0.05
4     2001-01-08  -0.35  -0.43  -0.47   -0.41    -0.08    -0.04     0.06
...          ...    ...    ...    ...     ...      ...      ...      ...
5457  2022-10-24   0.35   0.41   0.65    0.68     0.06     0.24     0.03
5458  2022-10-25   0.27   0.35   0.59    0.62     0.08     0.24     0.03
5459  2022-10-26   0.52   0.59   0.79    0.76     0.07     0.20    -0.03
5460  2022-10-27   0.48   0.52   0.76    0.77     0.04     0.24     0.01
5461  2022-10-28   0.57   0.59   0.81    0.79     0.02     0.22    -0.02

[5462 rows x 8 columns]

In [16]:
df_cad_yields.columns = ["date", "cad_2y", "cad_3y", "cad_5y", "cad_10y"]

In [17]:
df_usd_bonds = pd.read_csv(f"{PATH}usdbond.csv")
df_usd_cad = pd.read_csv(f"{PATH}usdcad.csv")

df_usd_cad.columns = ["date", "usd/cad"]
df_usd_bonds.columns = ["date", "DGS2", "DGS3", "DGS5", "DGS10"]

In [18]:
df_bonds = pd.merge(df_cad_yields, df_bond_yields, on='date')
df_bonds

,date,cad_2y,cad_3y,cad_5y,cad_10y,us_2y,us_3y,us_5y,us_10y,convex1,convex2,convex3
0,2001-01-02,5.11,5.14,5.19,5.28,-0.24,-0.32,-0.43,-0.36,-0.08,-0.11,0.07
1,2001-01-03,5.11,5.17,5.28,5.43,-0.19,-0.25,-0.34,-0.29,-0.06,-0.09,0.05
2,2001-01-04,4.99,5.07,5.20,5.39,-0.22,-0.29,-0.38,-0.36,-0.07,-0.09,0.02
3,2001-01-05,4.88,4.96,5.10,5.32,-0.32,-0.39,-0.44,-0.39,-0.07,-0.05,0.05
4,2001-01-08,4.89,4.98,5.12,5.35,-0.35,-0.43,-0.47,-0.41,-0.08,-0.04,0.06
...,...,...,...,...,...,...,...,...,...,...,...,...
5457,2022-10-24,4.15,4.11,3.71,3.57,0.35,0.41,0.65,0.68,0.06,0.24,0.03
5458,2022-10-25,4.15,4.10,3.66,3.48,0.27,0.35,0.59,0.62,0.08,0.24,0.03
5459,2022-10-26,3.87,3.82,3.41,3.28,0.52,0.59,0.79,0.76,0.07,0.20,-0.03
5460,2022-10-27,3.82,3.77,3.33,3.19,0.48,0.52,0.76,0.77,0.04,0.24,0.01
5461,2022-10-28,3.84,3.79,3.38,3.23,0.57,0.59,0.81,0.79,0.02,0.22,-0.02

In [19]:
df_usd = pd.merge(df_usd_cad, df_usd_bonds, on='date')

In [20]:
df_usd

            date  usd/cad  DGS2  DGS3  DGS5  DGS10
0     2000-01-03   1.4465  6.38  6.42  6.50   6.58
1     2000-01-04   1.4518  6.30  6.34  6.40   6.49
2     2000-01-05   1.4518  6.38  6.43  6.51   6.62
3     2000-01-06   1.4571  6.35  6.39  6.46   6.57
4     2000-01-07   1.4505  6.31  6.35  6.42   6.52
...          ...      ...   ...   ...   ...    ...
5950  2022-10-24   1.3704  4.50  4.52  4.36   4.25
5951  2022-10-25   1.3616  4.42  4.45  4.25   4.10
5952  2022-10-26   1.3551  4.39  4.41  4.20   4.04
5953  2022-10-27   1.3532  4.30  4.29  4.09   3.96
5954  2022-10-28   1.3622  4.41  4.38  4.19   4.02

[5955 rows x 6 columns]

In [21]:
df_final = pd.merge(df_usd, df_bonds, on='date')
df_final

,date,usd/cad,DGS2,DGS3,DGS5,DGS10,cad_2y,cad_3y,cad_5y,cad_10y,us_2y,us_3y,us_5y,us_10y,convex1,convex2,convex3
0,2001-01-02,1.4963,4.87,4.82,4.76,4.92,5.11,5.14,5.19,5.28,-0.24,-0.32,-0.43,-0.36,-0.08,-0.11,0.07
1,2001-01-03,1.4982,4.92,4.92,4.94,5.14,5.11,5.17,5.28,5.43,-0.19,-0.25,-0.34,-0.29,-0.06,-0.09,0.05
2,2001-01-04,1.4985,4.77,4.78,4.82,5.03,4.99,5.07,5.20,5.39,-0.22,-0.29,-0.38,-0.36,-0.07,-0.09,0.02
3,2001-01-05,1.5003,4.56,4.57,4.66,4.93,4.88,4.96,5.10,5.32,-0.32,-0.39,-0.44,-0.39,-0.07,-0.05,0.05
4,2001-01-08,1.4944,4.54,4.55,4.65,4.94,4.89,4.98,5.12,5.35,-0.35,-0.43,-0.47,-0.41,-0.08,-0.04,0.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5457,2022-10-24,1.3704,4.50,4.52,4.36,4.25,4.15,4.11,3.71,3.57,0.35,0.41,0.65,0.68,0.06,0.24,0.03
5458,2022-10-25,1.3616,4.42,4.45,4.25,4.10,4.15,4.10,3.66,3.48,0.27,0.35,0.59,0.62,0.08,0.24,0.03
5459,2022-10-26,1.3551,4.39,4.41,4.20,4.04,3.87,3.82,3.41,3.28,0.52,0.59,0.79,0.76,0.07,0.20,-0.03
5460,2022-10-27,1.3532,4.30,4.29,4.09,3.96,3.82,3.77,3.33,3.19,0.48,0.52,0.76,0.77,0.04,0.24,0.01
5461,2022-10-28,1.3622,4.41,4.38,4.19,4.02,3.84,3.79,3.38,3.23,0.57,0.59,0.81,0.79,0.02,0.22,-0.02

In [22]:
df_final = pd.merge(df_final, df_eco, on='date')
df_final

,date,usd/cad,DGS2,DGS3,DGS5,DGS10,cad_2y,cad_3y,cad_5y,cad_10y,...,chf,nok,aud,cad,hkd,krw,nzd,sgd,zar,us_rate
0,2012-01-04,1.0134,0.25,0.40,0.89,2.00,0.97,1.01,1.30,1.99,...,1.2196,7.7005,1.2552,1.3153,10.0585,1490.61,1.6452,1.6698,10.5259,3.25
1,2012-01-05,1.0197,0.27,0.40,0.88,2.02,0.96,1.00,1.29,1.97,...,1.2187,7.6825,1.2491,1.3039,9.9647,1482.77,1.6399,1.6562,10.5038,3.25
2,2012-01-06,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,1.2177,7.6745,1.2472,1.3051,9.9209,1483.11,1.6347,1.6528,10.4241,3.25
3,2012-01-09,1.0272,0.26,0.38,0.85,1.98,0.94,0.98,1.26,1.95,...,1.2139,7.6570,1.2468,1.3086,9.8832,1477.28,1.6221,1.6512,10.3735,3.25
4,2012-01-10,1.0161,0.24,0.37,0.86,2.00,0.97,1.00,1.29,1.98,...,1.2136,7.6555,1.2379,1.3021,9.9471,1478.49,1.6098,1.6506,10.3390,3.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2678,2022-10-20,1.3715,4.62,4.66,4.45,4.24,4.28,4.23,3.84,3.66,...,0.9836,10.4020,1.5554,1.3461,7.7008,1400.30,1.7206,1.3959,17.9106,6.25
2679,2022-10-21,1.3673,4.49,4.52,4.34,4.21,4.16,4.11,3.73,3.60,...,0.9855,10.4315,1.5646,1.3465,7.6376,1404.32,1.7347,1.3917,18.0021,6.25
2680,2022-10-24,1.3704,4.50,4.52,4.36,4.25,4.15,4.11,3.71,3.57,...,0.9856,10.3920,1.5631,1.3502,7.7329,1418.40,1.7343,1.4008,18.0625,6.25
2681,2022-10-25,1.3616,4.42,4.45,4.25,4.10,4.15,4.10,3.66,3.48,...,0.9888,10.3910,1.5599,1.3537,7.7407,1417.50,1.7321,1.4050,18.2211,6.25
2682,2022-10-26,1.3551,4.39,4.41,4.20,4.04,3.87,3.82,3.41,3.28,...,0.9917,10.3408,1.5466,1.3568,7.8678,1422.11,1.7249,1.4104,18.0212,6.25

In [23]:
df_can_statement = pd.read_csv(f"{PATH}can_statements_sentiment.csv", index_col=0)

In [24]:
# Drop the index and 'text' column

df_can_statement.drop(['text'], axis=1, inplace=True)
df_can_statement.reset_index(drop=True, inplace=True)

df_can_statement

           date  sentiment
0    2022-06-01   0.419407
1    2022-09-07   0.060902
2    2022-07-13  -0.733759
3    2022-04-13  -0.934212
4    2022-03-02  -0.902532
..          ...        ...
354  1998-08-27   0.400695
355  1998-01-30   0.670349
356  1997-12-12   0.450437
357  1997-11-25   0.824506
358  1997-10-01   0.869698

[359 rows x 2 columns]

In [25]:
df_can_statement['date'] = pd.to_datetime(df_can_statement['date'])

In [26]:
start = df_can_statement['date'].min()
end = df_can_statement['date'].max()

In [27]:
dtr = pd.date_range(start=start, end=end, freq='D')
dtr

DatetimeIndex(['1997-10-01', '1997-10-02', '1997-10-03', '1997-10-04',
               '1997-10-05', '1997-10-06', '1997-10-07', '1997-10-08',
               '1997-10-09', '1997-10-10',
               ...
               '2022-08-29', '2022-08-30', '2022-08-31', '2022-09-01',
               '2022-09-02', '2022-09-03', '2022-09-04', '2022-09-05',
               '2022-09-06', '2022-09-07'],
              dtype='datetime64[ns]', length=9108, freq='D')

In [28]:
df_can_statement = df_can_statement.set_index('date')

In [29]:
s = pd.Series(index=dtr)
df_can_statement = pd.concat([df_can_statement,s[~s.index.isin(df_can_statement.index)]]).sort_index()
df_can_statement = df_can_statement.drop([0],axis=1).fillna(0)

/var/folders/9k/fx177q5n7nb2j1c1h54h8j0w0000gn/T/ipykernel_15647/3111569991.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series(index=dtr)

In [30]:
df_can_statement = df_can_statement.reset_index()

In [31]:
df_can_statement.columns = ["date", "can_sentiment"]

In [32]:
df_can_statement['date'] = df_can_statement['date'].astype(str)

In [33]:
df_final = pd.merge(df_final, df_can_statement, on='date')
df_final

,date,usd/cad,DGS2,DGS3,DGS5,DGS10,cad_2y,cad_3y,cad_5y,cad_10y,...,nok,aud,cad,hkd,krw,nzd,sgd,zar,us_rate,can_sentiment
0,2012-01-04,1.0134,0.25,0.40,0.89,2.00,0.97,1.01,1.30,1.99,...,7.7005,1.2552,1.3153,10.0585,1490.61,1.6452,1.6698,10.5259,3.25,0.000000
1,2012-01-05,1.0197,0.27,0.40,0.88,2.02,0.96,1.00,1.29,1.97,...,7.6825,1.2491,1.3039,9.9647,1482.77,1.6399,1.6562,10.5038,3.25,0.000000
2,2012-01-06,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,7.6745,1.2472,1.3051,9.9209,1483.11,1.6347,1.6528,10.4241,3.25,0.000000
3,2012-01-09,1.0272,0.26,0.38,0.85,1.98,0.94,0.98,1.26,1.95,...,7.6570,1.2468,1.3086,9.8832,1477.28,1.6221,1.6512,10.3735,3.25,0.000000
4,2012-01-10,1.0161,0.24,0.37,0.86,2.00,0.97,1.00,1.29,1.98,...,7.6555,1.2379,1.3021,9.9471,1478.49,1.6098,1.6506,10.3390,3.25,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2650,2022-08-31,1.3091,3.45,3.46,3.30,3.15,3.64,3.59,3.34,3.11,...,9.9388,1.4591,1.3111,7.8488,1342.79,1.6322,1.3969,17.0667,5.50,0.000000
2651,2022-09-01,1.3160,3.51,3.54,3.39,3.26,3.66,3.61,3.37,3.18,...,10.0130,1.4651,1.3169,7.8511,1353.69,1.6389,1.4002,17.1524,5.50,0.000000
2652,2022-09-02,1.3089,3.40,3.44,3.30,3.20,3.58,3.53,3.28,3.10,...,10.0035,1.4671,1.3131,7.8439,1360.84,1.6394,1.4013,17.2791,5.50,0.000000
2653,2022-09-06,1.3122,3.50,3.55,3.43,3.33,3.60,3.56,3.33,3.18,...,9.8945,1.4651,1.3029,7.7932,1366.65,1.6313,1.3947,17.0805,5.50,0.000000
2654,2022-09-07,1.3166,3.45,3.50,3.37,3.27,3.60,3.55,3.30,3.13,...,9.9483,1.4748,1.3037,7.7596,1374.44,1.6459,1.3931,17.2582,5.50,0.060902

In [34]:
df_RV = pd.read_csv(f"data/realizedVariance.csv", index_col=0)
df_RV.reset_index(inplace=True)
df_RV.columns = ["date", "log usd/cad", "realized_variance", "jump", "bipower_variance"]

In [35]:
# Forward fill the data in weeks to days

df_RV['date'] = pd.to_datetime(df_RV['date'])
df_RV = df_RV.set_index('date')
df_RV = df_RV.resample('D').ffill()
df_RV = df_RV.reset_index()
# Convert datetime date column to object
df_RV['date'] = df_RV['date'].astype(str)
df_RV

            date  log usd/cad  realized_variance  jump  bipower_variance
0     1998-02-20    -0.002110           0.000256   0.0          0.000285
1     1998-02-21    -0.002110           0.000256   0.0          0.000285
2     1998-02-22    -0.002110           0.000256   0.0          0.000285
3     1998-02-23     0.002882           0.000260   0.0          0.000313
4     1998-02-24    -0.001967           0.000267   0.0          0.000317
...          ...          ...                ...   ...               ...
9012  2022-10-24     0.002265           0.000463   0.0          0.000563
9013  2022-10-25    -0.006442           0.000414   0.0          0.000479
9014  2022-10-26    -0.004785           0.000389   0.0          0.000437
9015  2022-10-27    -0.001403           0.000386   0.0          0.000462
9016  2022-10-28     0.006629           0.000379   0.0          0.000472

[9017 rows x 5 columns]

In [36]:
# Merge the RV dataframe with the final dataframe

df_final = pd.merge(df_final, df_RV, on='date')
df_final

,date,usd/cad,DGS2,DGS3,DGS5,DGS10,cad_2y,cad_3y,cad_5y,cad_10y,...,krw,nzd,sgd,zar,us_rate,can_sentiment,log usd/cad,realized_variance,jump,bipower_variance
0,2012-01-04,1.0134,0.25,0.40,0.89,2.00,0.97,1.01,1.30,1.99,...,1490.61,1.6452,1.6698,10.5259,3.25,0.000000,0.004450,0.000270,0.000138,0.000132
1,2012-01-05,1.0197,0.27,0.40,0.88,2.02,0.96,1.00,1.29,1.97,...,1482.77,1.6399,1.6562,10.5038,3.25,0.000000,0.006197,0.000251,0.000112,0.000139
2,2012-01-06,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,1483.11,1.6347,1.6528,10.4241,3.25,0.000000,0.003329,0.000266,0.000101,0.000165
3,2012-01-09,1.0272,0.26,0.38,0.85,1.98,0.94,0.98,1.26,1.95,...,1477.28,1.6221,1.6512,10.3735,3.25,0.000000,0.003999,0.000272,0.000103,0.000169
4,2012-01-10,1.0161,0.24,0.37,0.86,2.00,0.97,1.00,1.29,1.98,...,1478.49,1.6098,1.6506,10.3390,3.25,0.000000,-0.010865,0.000228,0.000040,0.000188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2650,2022-08-31,1.3091,3.45,3.46,3.30,3.15,3.64,3.59,3.34,3.11,...,1342.79,1.6322,1.3969,17.0667,5.50,0.000000,0.000076,0.000262,0.000065,0.000197
2651,2022-09-01,1.3160,3.51,3.54,3.39,3.26,3.66,3.61,3.37,3.18,...,1353.69,1.6389,1.4002,17.1524,5.50,0.000000,0.005257,0.000257,0.000070,0.000187
2652,2022-09-02,1.3089,3.40,3.44,3.30,3.20,3.58,3.53,3.28,3.10,...,1360.84,1.6394,1.4013,17.2791,5.50,0.000000,-0.005410,0.000275,0.000128,0.000147
2653,2022-09-06,1.3122,3.50,3.55,3.43,3.33,3.60,3.56,3.33,3.18,...,1366.65,1.6313,1.3947,17.0805,5.50,0.000000,0.002518,0.000232,0.000067,0.000165
2654,2022-09-07,1.3166,3.45,3.50,3.37,3.27,3.60,3.55,3.30,3.13,...,1374.44,1.6459,1.3931,17.2582,5.50,0.060902,0.003348,0.000218,0.000060,0.000158

In [37]:
df_macro = pd.read_csv(f"var_exp_df.csv", index_col=0)
df_macro.reset_index(inplace=True)
df_macro.columns = df_macro.columns.str.lower()
df_macro

,date,dhhngsp,dcoilwtico,dcoilbrenteu,will5000prfc,dpropanembtx,dhoilnyh,willresipr,vixcls,gvzcls,...,dexkous,dexmxus,dexinus,dexvzus,dexbzus,dexszus,dtwexemegs,usrecd,eurorecd,jpnrecdp
0,2008-06-03,12.27,124.33,126.28,14061.91,1.686,3.628,186.02,20.24,22.89,...,1016.80,10.290,42.50,2.1446,1.6227,1.0437,90.2137,1,1.0,1.0
1,2008-06-04,12.17,122.30,121.72,14061.85,1.684,3.535,187.20,20.80,22.69,...,1019.00,10.320,42.60,2.1446,1.6293,1.0408,90.5130,1,1.0,1.0
2,2008-06-05,12.49,127.93,122.36,14339.94,1.705,3.670,191.75,18.63,22.78,...,1023.00,10.312,42.82,2.1446,1.6345,1.0398,90.4731,1,1.0,1.0
3,2008-06-06,12.71,138.51,132.81,13924.63,1.783,3.944,183.26,23.56,23.60,...,1030.50,10.368,42.63,2.1446,1.6261,1.0237,90.5390,1,1.0,1.0
4,2008-06-09,12.71,134.44,134.43,13916.99,1.786,3.872,179.16,23.12,24.47,...,1032.00,10.364,42.85,2.1446,1.6226,1.0237,90.5268,1,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3754,2022-10-24,4.81,86.12,91.57,37805.51,0.838,4.122,225.67,29.85,19.58,...,1439.14,19.945,82.68,8.3866,5.2768,1.0007,134.3977,0,0.0,0.0
3755,2022-10-25,5.17,86.93,91.76,38502.58,0.850,4.044,234.75,28.46,19.33,...,1432.46,19.867,82.44,8.3825,5.2898,0.9961,134.1403,0,0.0,0.0
3756,2022-10-26,5.28,89.39,92.93,38261.62,0.873,4.230,233.87,27.28,18.67,...,1425.68,19.866,82.73,8.3886,5.3228,0.9865,133.4108,0,0.0,0.0
3757,2022-10-27,5.30,89.06,94.17,38071.34,0.865,4.419,233.72,27.39,18.51,...,1419.00,19.838,82.36,8.4297,5.2839,0.9899,133.5015,0,0.0,0.0
3758,2022-10-28,5.02,87.85,94.64,38952.71,0.873,4.540,238.97,25.75,18.01,...,1421.67,19.824,82.33,8.5041,5.3547,0.9968,133.7935,0,0.0,0.0

In [38]:
df_final = pd.merge(df_final, df_macro, on='date')
df_final

,date,usd/cad,DGS2,DGS3,DGS5,DGS10,cad_2y,cad_3y,cad_5y,cad_10y,...,dexkous,dexmxus,dexinus,dexvzus,dexbzus,dexszus,dtwexemegs,usrecd,eurorecd,jpnrecdp
0,2012-01-04,1.0134,0.25,0.40,0.89,2.00,0.97,1.01,1.30,1.99,...,1147.35,13.6968,52.85,4.2893,1.8205,0.9417,97.5854,0,1.0,1.0
1,2012-01-05,1.0197,0.27,0.40,0.88,2.02,0.96,1.00,1.29,1.97,...,1155.55,13.7502,52.89,4.2893,1.8399,0.9528,97.8533,0,1.0,1.0
2,2012-01-06,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,1160.00,13.7165,52.67,4.2893,1.8487,0.9555,97.8570,0,1.0,1.0
3,2012-01-09,1.0272,0.26,0.38,0.85,1.98,0.94,0.98,1.26,1.95,...,1158.80,13.7344,52.39,4.2893,1.8411,0.9520,97.8951,0,1.0,1.0
4,2012-01-10,1.0161,0.24,0.37,0.86,2.00,0.97,1.00,1.29,1.98,...,1153.55,13.6211,51.59,4.2893,1.8041,0.9486,97.3736,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2650,2022-08-31,1.3091,3.45,3.46,3.30,3.15,3.64,3.59,3.34,3.11,...,1338.66,20.0860,79.45,7.8357,5.1870,0.9748,129.6976,0,0.0,0.0
2651,2022-09-01,1.3160,3.51,3.54,3.39,3.26,3.66,3.61,3.37,3.18,...,1354.34,20.2200,79.65,7.8725,5.2238,0.9838,130.3210,0,0.0,0.0
2652,2022-09-02,1.3089,3.40,3.44,3.30,3.20,3.58,3.53,3.28,3.10,...,1362.20,19.9270,79.70,7.8880,5.1720,0.9801,129.7622,0,0.0,0.0
2653,2022-09-06,1.3122,3.50,3.55,3.43,3.33,3.60,3.56,3.33,3.18,...,1378.95,20.1090,79.86,7.9248,5.2305,0.9839,130.7121,0,0.0,0.0
2654,2022-09-07,1.3166,3.45,3.50,3.37,3.27,3.60,3.55,3.30,3.13,...,1383.72,20.0260,79.82,7.9616,5.2480,0.9808,130.7067,0,0.0,0.0

In [39]:
df_fed = pd.read_csv(f"{PATH}Fed_statements_sentiments.csv", index_col=0)
# Drop the first column

def clean_data(df_fed: pd.DataFrame):
    df_fed.drop(['Unnamed: 0', 'contents', 'speaker', 'title'], axis=1, inplace=True)
    df_fed['date'] = pd.to_datetime(df_fed['date'])

    start = df_fed['date'].min()
    end = df_fed['date'].max()
    dtr = pd.date_range(start=start, end=end, freq='D')
    df_fed = df_fed.set_index('date')

    s = pd.Series(index=dtr)
    df_fed = pd.concat([df_fed, s[~s.index.isin(df_fed.index)]]).sort_index()
    df_fed = df_fed.drop([0], axis=1).fillna(0)
    df_fed = df_fed.reset_index()

    return df_fed

df_fed = clean_data(df_fed)
df_fed

/var/folders/9k/fx177q5n7nb2j1c1h54h8j0w0000gn/T/ipykernel_15647/961619163.py:13: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series(index=dtr)

           index  sentiment
0     1994-02-04   0.380135
1     1994-02-05   0.000000
2     1994-02-06   0.000000
3     1994-02-07   0.000000
4     1994-02-08   0.000000
...          ...        ...
10494 2022-10-29   0.000000
10495 2022-10-30   0.000000
10496 2022-10-31   0.000000
10497 2022-11-01   0.000000
10498 2022-11-02   0.248647

[10499 rows x 2 columns]

In [40]:
df_fed.columns = ["date", "us_fed_sentiment"]

In [41]:
df_fed['date'] = df_fed['date'].astype(str)

In [42]:
df_final = pd.merge(df_final, df_fed, on='date')

In [43]:
df_speech = pd.read_csv(f"{PATH}FedSpeechSentiment.csv", index_col=0)
df_speech = clean_data(df_speech)
df_speech.columns = ["date", "fed_speech_sentiment"]
df_speech['date'] = df_speech['date'].astype(str)

/var/folders/9k/fx177q5n7nb2j1c1h54h8j0w0000gn/T/ipykernel_15647/961619163.py:13: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series(index=dtr)

In [44]:
df_final = pd.merge(df_final, df_speech, on='date')

In [45]:
def create_lag_predictors(df: pd.DataFrame, n_lags: int, col_to_lag: str) -> pd.DataFrame:
    for i in range(1, n_lags + 1):
        df[f"{col_to_lag}_lag_{i}"] = df[col_to_lag].shift(i)
    return df

df_final = create_lag_predictors(df_final, 3, "usd/cad")
df_final

,date,usd/cad,DGS2,DGS3,DGS5,DGS10,cad_2y,cad_3y,cad_5y,cad_10y,...,dexszus,dtwexemegs,usrecd,eurorecd,jpnrecdp,us_fed_sentiment,fed_speech_sentiment,usd/cad_lag_1,usd/cad_lag_2,usd/cad_lag_3
0,2012-01-04,1.0134,0.25,0.40,0.89,2.00,0.97,1.01,1.30,1.99,...,0.9417,97.5854,0,1.0,1.0,0.0,0.0,NaN,NaN,NaN
1,2012-01-05,1.0197,0.27,0.40,0.88,2.02,0.96,1.00,1.29,1.97,...,0.9528,97.8533,0,1.0,1.0,0.0,0.0,1.0134,NaN,NaN
2,2012-01-06,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,0.9555,97.8570,0,1.0,1.0,0.0,0.0,1.0197,1.0134,NaN
3,2012-01-06,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,0.9555,97.8570,0,1.0,1.0,0.0,0.0,1.0231,1.0197,1.0134
4,2012-01-09,1.0272,0.26,0.38,0.85,1.98,0.94,0.98,1.26,1.95,...,0.9520,97.8951,0,1.0,1.0,0.0,0.0,1.0231,1.0231,1.0197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,2022-09-01,1.3160,3.51,3.54,3.39,3.26,3.66,3.61,3.37,3.18,...,0.9838,130.3210,0,0.0,0.0,0.0,0.0,1.3091,1.3090,1.3001
2727,2022-09-02,1.3089,3.40,3.44,3.30,3.20,3.58,3.53,3.28,3.10,...,0.9801,129.7622,0,0.0,0.0,0.0,0.0,1.3160,1.3091,1.3090
2728,2022-09-06,1.3122,3.50,3.55,3.43,3.33,3.60,3.56,3.33,3.18,...,0.9839,130.7121,0,0.0,0.0,0.0,0.0,1.3089,1.3160,1.3091
2729,2022-09-07,1.3166,3.45,3.50,3.37,3.27,3.60,3.55,3.30,3.13,...,0.9808,130.7067,0,0.0,0.0,0.0,0.0,1.3122,1.3089,1.3160
2730,2022-09-07,1.3166,3.45,3.50,3.37,3.27,3.60,3.55,3.30,3.13,...,0.9808,130.7067,0,0.0,0.0,0.0,0.0,1.3166,1.3122,1.3089

In [46]:
df_final.drop_duplicates(subset='date', keep='first', inplace=True)

In [47]:
df_final

,date,usd/cad,DGS2,DGS3,DGS5,DGS10,cad_2y,cad_3y,cad_5y,cad_10y,...,dexszus,dtwexemegs,usrecd,eurorecd,jpnrecdp,us_fed_sentiment,fed_speech_sentiment,usd/cad_lag_1,usd/cad_lag_2,usd/cad_lag_3
0,2012-01-04,1.0134,0.25,0.40,0.89,2.00,0.97,1.01,1.30,1.99,...,0.9417,97.5854,0,1.0,1.0,0.0,0.0,NaN,NaN,NaN
1,2012-01-05,1.0197,0.27,0.40,0.88,2.02,0.96,1.00,1.29,1.97,...,0.9528,97.8533,0,1.0,1.0,0.0,0.0,1.0134,NaN,NaN
2,2012-01-06,1.0231,0.25,0.40,0.86,1.98,0.93,0.97,1.25,1.94,...,0.9555,97.8570,0,1.0,1.0,0.0,0.0,1.0197,1.0134,NaN
4,2012-01-09,1.0272,0.26,0.38,0.85,1.98,0.94,0.98,1.26,1.95,...,0.9520,97.8951,0,1.0,1.0,0.0,0.0,1.0231,1.0231,1.0197
5,2012-01-10,1.0161,0.24,0.37,0.86,2.00,0.97,1.00,1.29,1.98,...,0.9486,97.3736,0,1.0,1.0,0.0,0.0,1.0272,1.0231,1.0231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2725,2022-08-31,1.3091,3.45,3.46,3.30,3.15,3.64,3.59,3.34,3.11,...,0.9748,129.6976,0,0.0,0.0,0.0,0.0,1.3090,1.3001,1.3001
2726,2022-09-01,1.3160,3.51,3.54,3.39,3.26,3.66,3.61,3.37,3.18,...,0.9838,130.3210,0,0.0,0.0,0.0,0.0,1.3091,1.3090,1.3001
2727,2022-09-02,1.3089,3.40,3.44,3.30,3.20,3.58,3.53,3.28,3.10,...,0.9801,129.7622,0,0.0,0.0,0.0,0.0,1.3160,1.3091,1.3090
2728,2022-09-06,1.3122,3.50,3.55,3.43,3.33,3.60,3.56,3.33,3.18,...,0.9839,130.7121,0,0.0,0.0,0.0,0.0,1.3089,1.3160,1.3091
2729,2022-09-07,1.3166,3.45,3.50,3.37,3.27,3.60,3.55,3.30,3.13,...,0.9808,130.7067,0,0.0,0.0,0.0,0.0,1.3122,1.3089,1.3160

In [48]:
df_final.to_csv(f"{PATH}final.csv", index=False)